</br></br></br>
<div class="jumbotron" style="background-color:yellow;">
  <h1>Choose your domain!!</h1>
  <% @domains.each do |domain| %>
     <div class="col-sm-3" style="background-color:blue;">
	   <%= image_tag(domain.photo.url, height: '150', width: '150') %>
       <%= link_to domain.name.upcase, new_user_session_url(subdomain: domain.name) %>
      </div> 
  <% end %>
</div>
</div>
</br></br>
<div class="jumbotron" style="background-color:pink;">
  <h1>You domain not here, create a one for U!!</h1>
   <div class="col-xs-6 col-md-3">
       <%= link_to "Create", new_domain_path %>
</div>
</div>

